{% extends "layout.html" %}
{% block content %}
    <div class="home-content">
        <div class="items">
            <div class="item">
                <a href="{{ url_for('orders_page') }}">
                    <img src="{{ url_for('static', filename='images/orders.png') }}" alt="Orders">
                    <p>Orders</p>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('customers_page') }}">
                    <img src="{{ url_for('static', filename='images/customers.png') }}" alt="Customers">
                    <p>Customers</p>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('menu_page') }}">
                    <img src="{{ url_for('static', filename='images/menu.png') }}" alt="Menu">
                    <p>Menu</p>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('inventory_page') }}">
                    <img src="{{ url_for('static', filename='images/inventory.png') }}" alt="Inventory">
                    <p>Inventory</p>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
